@import "tailwindcss";

@theme {
  --color-theme-green: hsl(75, 94%, 57%);
  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-grey: hsl(0, 0%, 20%);
  --color-theme-dark-grey: hsl(0, 0%, 12%);
  --color-theme-black: hsl(0, 0%, 8%);

  --font-inter: Inter, sans-serif;
}
