---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Frontend Mentor | Social Links Profile">
  <section class="mx-auto h-[610px] w-96 rounded-lg bg-neutralDarkGrey">
    <div class="grid grid-cols-1 justify-items-center">
      <div>Profile</div>
      <div>GitHub</div>
      <div>Frontend Mentor</div>
      <div>LinkedIn</div>
      <div>Twitter</div>
      <div>Instagram</div>
    </div>
  </section>
</MainLayout>
