---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import avatar from "@/assets/avatar-jessica.jpeg";

interface SocialLink {
  url: string;
  name: string;
}

const socialLinks: SocialLink[] = [
  { url: "https://www.github.com", name: "GitHub" },
  { url: "https://www.frontendmentor.io", name: "Frontend Mentor" },
  { url: "https://www.linkedin.com", name: "LinkedIn" },
  { url: "https://www.x.com", name: "Twitter" },
  { url: "https://www.instagram.com", name: "Instagram" },
];
---

<MainLayout title="Frontend Mentor | Social Links Profile">
  <section
    class="mx-auto h-[480px] w-80 rounded-xl bg-neutralDarkGrey px-8 py-10 sm:h-[610px] sm:w-96"
  >
    <div>
      <div class="flex justify-center">
        <Image
          src={avatar}
          alt="Avamar"
          loading={"eager"}
          class={"rounded-full w-[86px] mb-6 hidden sm:block"}
        />
      </div>
      <div class="mb-6">
        <h1 class="mb-2 text-center text-2xl font-semibold">Jessica Randall</h1>
        <p class="mb-6 text-center text-sm text-primaryGreen">
          London, United Kingdom
        </p>
        <p class="text-center text-sm text-gray-300">
          "Front-end developer and avid reader."
        </p>
      </div>
    </div>

    <div>
      <ul class="grid grid-cols-1 gap-y-4">
        {
          socialLinks.map((link) => (
            <li class="rounded-md bg-neutralGrey py-3 text-center text-sm font-semibold hover:bg-primaryGreen hover:text-neutralGrey">
              <a href={link.url} target="_blank" class="block">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</MainLayout>
